.bg{
    background: #eee;
}
.white-bg{
    background: #fff !important;
}
.logo button{
    border: none;
}
.logo button:hover, .logo button:focus, .logo button:active{
    background: transparent !important;
}
.link > div{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
.link > div:hover{
    color: #cc3b0a
}
.list .webix_selected{
    background: #65abd6;
}
.template_no_bottom{
    border-bottom: none;
}
.template_no_top{
    border-top: none;
}
.template_no_left{
    border-left: none;
}
.template_no_right{
    border-right: none;
}
.live_seg{
    border-top: none;
    border-left: 1px solid #dfdfdf !important;
    padding-left: 5px !important;
}
.table .webix_cell:focus{
    outline: none;
}
.table .webix_ss_header{
    background: none !important;
}
.table .webix_ss_header table{
    border-left: 1px solid #ddd !important;
}
.table .webix_row_select, .table .webix_column_select{
    background: #eee !important;
    color: #666 !important;
}
.table td{
    border-right: none;
    border-bottom: 1px solid #ccc;
}
.table td > div{
    text-align: center;
    background: #fff;
}
.table .webix_column{
    text-align: center;
}
.table .webix_column > div{
    border-right: none;
}
.month-toolbar{
    border-left: 1px solid #ddd;
}
.live-toolbar{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.month-chart, .ten-chart{
    border-top: none;
}
.chart > div{
    background: #fff;
}
.btn-selected  button, .btn-selected  button:focus{
    background: #05578e;
}
.template-bottom{
    border-top: none;
}
.template-left{
    border-left: 1px solid #ddd !important;
}
.template-right{
    border-right: 1px solid #ddd !important;
}
.template-text .webix_template{
    text-indent: 2em;
    word-wrap: break-word;
}
#overall_container{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 14px !important;
    line-height: 24px !important;
    padding-top: 7px;
}
.overall-pic{
    border: 1px solid #ddd;
    min-width: 100px;
    height: 100px;
    margin-right: 10px;
}
.pic1{
    background: url(/static/images/小汽车.png) no-repeat;
    background-size: contain;
}
.pic2{
    background: url(/static/images/衣架.png) no-repeat;
    background-size: contain;
}
.pic3{
    background: url(/static/images/晨练.png) no-repeat;
    background-size: contain;
}
.pic4{
    background: url(/static/images/衣服.png) no-repeat;
    background-size: contain;
}
.pic5{
    background: url(/static/images/感冒.png) no-repeat;
    background-size: contain;
}
.pic6{
    background: url(/static/images/水果.png) no-repeat;
    background-size: contain;
}
.pic7{
    background: url(/static/images/地球1.png) no-repeat;
    background-size: contain;
}
.pic8{
    background: url(/static/images/足球.png) no-repeat;
    background-size: contain;
}
.pic9{
    background: url(/static/images/太阳.png) no-repeat;
    background-size: contain;
}
.pic10{
    background: url(/static/images/太阳伞.png) no-repeat;
    background-size: contain;
}
.item-container{
    display: flex;
}
.item-container div:first-child{
    width: 75px;
    text-align: right;
}
.item-container div:last-child{
    flex: 1;
    word-break: break-all;
}
#commute_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
#commute_container > div{
    width: 1000px;
}
#commute_container > div:first-child{
    text-align: center;
}
#commute_container > div:first-child  > img{
    max-height: 100%;
}
#commute_container > div:nth-child(2){
    flex: 1;
    background: #D7effE;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#commute_container > div:nth-child(2) > div{
    margin-bottom: 20px;
}
#commute_container > div:nth-child(3){
    height: 100px;
    background: #D7eeEE;
}
.template-header{
    background: #0bace4;
    color: #fff;
    font-weight: bold;
    border: 1px solid #0bace4;
}
#history_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
#history_container > div{
    display: flex;
    width: 100%;
}
#history_container > div > div{
    flex: 1;
}
.template-panel{
    background: #dbeeff;
}
#live_container{
    display: flex;
    width: 100%;
    height: 100%;
}
#live_container > div:first-child{
    width: 40%;
}
#live_container > div:last-child{
    flex: 1;
}
#live_area_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #dfeffb;
}
#live_area{
    text-align: center;
    font-weight: bold;
    background: #0bace4;
    height: 28px;
    line-height: 28px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#weather_container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.weather-table{
    border: 1px solid #80abcc;
    border-spacing: 0;
    margin: 5px;
}
.weather-table tbody tr:first-child td:first-child{
    width: 150px;
}
.weather-table tbody tr:first-child td:nth-child(2){
    width: 120px;
}
.weather-table tbody tr:first-child td:nth-child(3){
    width: 60px;
}
.weather-table tbody tr:first-child td:nth-child(4){
    width: 100px;
}
.weather-table thead td{
    border-bottom: 1px solid #80abcc;
    background: #a4c4ff;
}
.weather-table tbody tr:first-child td{
    border-bottom: 1px solid #80abcc;
}
.weather-table tbody tr td{
    border-right: 1px solid #80abcc;
    padding: 5px;
    max-width: 160px;
    word-break: break-all;
}
.weather-table tbody tr td:last-child{
    border-right: none;
}
.table-48{
    margin: 5px;
    border-spacing: 0;
    width: 500px;
    border: 1px solid #80abcc;
}
.table-48 thead tr:first-child td{
    background: #a4c4ff;
    border-bottom: 1px solid #80abcc;
}
.table-48 thead tr:last-child td{
    background: #a5d2ff;
    border-bottom: 1px solid #80abcc;
    border-right: 1px solid #80abcc;
}
.table-48 thead tr:last-child td:last-child{
    border-right: none;
}
.table-48 tbody td{
    height: 40px;
    border-bottom: 1px solid #80abcc;
    border-right: 1px solid #80abcc;
}
.table-48 tbody tr td:nth-child(2){
    width: 75px;
}
.table-48 tbody tr:last-child td{
    border-bottom: none;
}
.table-48 tbody tr:nth-child(2n+1) td:last-child{
    border-right: none;
    width: 100px;
}
.table-48 tbody tr:nth-child(3) td:last-child{
    border-bottom: none;
}
.weather-48h > div, .weather-3h > div, .weather-week > div{
    padding: 0;
}
.h-3, .h-48, .h-week{
    height: 32px;
    padding-left: 5px;
    line-height: 32px;
    background: #0bace4;
    color: #fff;
    font-weight: bold;
    border: 1px solid #0bace4;
    margin: 0;
}
#week_weather_container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.table-week{
    margin: 5px;
    border-spacing: 0;
    width: 830px;
    border: 1px solid #80abcc;
}
.table-week thead tr:first-child td{
    background: #a4c4ff;
    border-bottom: 1px solid #80abcc;
}
.table-week thead tr:last-child td{
    background: #a5d2ff;
    border-bottom: 1px solid #80abcc;
    border-right: 1px solid #80abcc;
}
.table-week thead tr:last-child td:last-child{
    border-right: none;
}
.table-week tbody td{
    border-right: 1px solid #80abcc;
}
.table-week tbody td:last-child{
    border-right: none;
}
.live-table{
    border: 1px solid #80abcc;
    border-spacing: 0;
    background: #ade5f2;
}
.live-table td{
    border-bottom: 1px solid #80abcc;
    border-right: 1px solid #80abcc;
}
.live-table tr td:last-child{
    border-right: none;
}
.live-table tr:last-child td:last-child{
    border-bottom: none;
    border-right: none;
}
.overall-seg{
    border-left: 1px solid #ddd !important;
}
.media-btn button{
    line-height: 38px !important;
    text-align: center;
    background: rgba(0,0,0,.07);
}
.media-btn span{
    font-size: 25px;
    color: #0d6df2;
}
.table-one-week{
    width: 100%;
    height: 100%;
    border-spacing: 0;
    text-align: center;
    border: 1px solid #80abcc;
}
.table-one-week thead{
    background: #a4c4ff;
    color: #fff;
}
.table-one-week thead tr td{
    border-right: 1px solid #80abcc;
    border-bottom: 1px solid #80abcc;
}
.table-one-week thead tr td:first-child{
    width: 120px;
}
.table-one-week thead tr td:last-child{
    border-right: none;
}
.table-one-week tbody tr td{
    border-right: 1px solid #80abcc;
    border-bottom: 1px solid #80abcc;
}
.table-one-week tbody tr:last-child td{
    border-bottom: none
}
.table-one-week tbody tr td:last-child{
    border-right: none;
}
.table-one-week tbody tr:first-child td{
    min-height: 34px;
}
.table-one-week tbody tr:first-child td img{
    vertical-align: center;
}
.table-one-week tbody tr:nth-child(2n) td{
    background: #f3f3f3;
}
.webix_item_tab:focus{
    outline: none !important;
}


@media screen and (max-width: 1911px){
    #week_weather_container{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}